<%= render "shared/gemfile_upload_section", remote: true %>
<div id="result"></div>
<section class="section section__full section-bottom">
  <div class="top-top">
    <a class="scrollto" href="#top">
      <%= image_tag "circle-black-lg.svg" %>
    </a>
  </div>
  <div class="section__bg section-bottom__bg section__bg--left">
    <span  class="section__bg--lg"><%= image_tag "bg-branch-contactus--lg.svg" %></span>
    <span  class="section__bg--md"><%= image_tag "bg-branch-contactus--lg.svg" %></span>
  </div>
  <div class="section__bg section-bottom__bg section__bg--right">
    <span  class="section__bg--lg"><%= image_tag "bg-branch-footer2--lg.svg" %></span>
    <span  class="section__bg--md"><%= image_tag "bg-branch-footer2--lg.svg" %></span>
  </div>
  <div class="section__bg section-bottom__bg section__bg--right section__bg--bottomright">
    <span  class="section__bg--lg"><%= image_tag "bg-branch-footer--lg.svg" %></span>
    <span  class="section__bg--md"><%= image_tag "bg-branch-footer--lg.svg" %></span>
    <span  class="section__bg--sm"><%= image_tag "bg-branch-footer--lg.svg" %></span>
    <span  class="section__bg--xs"><%= image_tag "bg-branch-footer--lg.svg" %></span>
  </div>
</section>
<div id="bottom-bar"></div>
