<div id="header_welcome" class="header">
  <div id="text_header">
    <h1 class="white_title">Gemfile.lock Audit Tool</h1>
    <h2 class="red_txt">Upload your Gemfile.lock to find vulnerabilities in your application. This tool uses <a href="https://github.com/rubysec/bundler-audit">bundler-audit</a> to audit your Gemfile using a database of known vulnerabilities. Your privacy is important to us, we won't share this information with anyone, ever.</h2>
  </div>
  <%= form_for @file, html: { multipart: true } do |form| %>
    <%= form.label :file, class: "file" do %>
      <%= form.file_field :file, required: true %>
      <span class="file-custom">Select a Gemfile.lock file...
      </span>
      <span class="file-upload btn-audit"><%= fa_icon "cloud-upload" %></span>
    <% end %>
    <%= form.submit "Check Vulnerabilities".html_safe, class: "check_button btn-audit", disabled: true%>
    <% if flash[:error].present? %>
      <span class="error">There was an error: <%= flash[:error] %></span>
    <% end %>
  <% end %>
</div>
