<!DOCTYPE html>
<html lang="en">
  <head>
    <% if controller_name == 'gemfiles' %>
      <title>Audit Tool - Report #<%= @alpha_id %></title>
    <% else %>
      <title>Audit Tool - Upload your Gemfile.lock to find vulnerabilities in your application</title>
    <% end %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render "home/google_analytics" %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <%= javascript_include_tag 'application' %>
    <%= render "shared/favicon" %>
  </head>

  <body class="<%= controller_name %>-<%= action_name %>">
    <div class="wrapper">
      <header class="full-width">
        <nav class="navbar navbar-expand-md">
          <div class="navbar-brand">
            <div class="col-1 navbar-brand__logo">
              <a href="/">
                <%= image_tag "fastruby-logo.svg", alt: "FastRuby.io Logo" %>
                </a>
            </div>
            <div class="col-11 navbar-brand__name">
              <a href="https://fastruby.io" class="navbar-brand__fastruby">
                <strong>Fast</strong>Ruby
              </a>
              <a href="/" class="navbar-brand__audittool">
                <strong>Audit</strong> Tool
              </a>
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="btn-link" href="https://fastruby.io/#team">Our Team</a>
              <a class="btn-link" href="https://fastruby.io/#faq">FAQs</a>
              <a class="btn-link" href="https://fastruby.io/#quotes">Our Clients</a>
              <a class="btn-link" href="https://fastruby.io/#contact-us">Contact Us</a>
            </div>
          </div>
        </nav>
      </header>
      <%= yield %>
    </div>

    <%= render "shared/footer" %>
    <%= yield :script %>
  </body>
</html>
